:{$PORT:8080} {
    root * /srv
    encode zstd gzip

    try_files {path} /index.html

    header {
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }

    file_server
}

